body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #442B72;
  backdrop-filter: blur(3px);
}

.container {
  max-width: 1034px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  padding: 100px 0 90px;
}

.logo {
  display: flex;
  align-items: center;
  fill: #fff;
}

.logo_icon {
  margin-right: 17px;
}

.main {
  margin-bottom: 80px;
}

.main_section {
  height: 100%;
  margin-bottom: 110px;
}

.title {
  max-width: 1018px;
  margin-bottom: 60px;
  font-size: 70px;
  line-height: 80px;
}

.title_opacity {
  color: rgba(255, 255, 255, .7);
}

.subtitle {
  max-width: 384px;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer {
  padding-bottom: 75px;
}

.footer_logo {
  display: block;
  margin-bottom: 60px;
}

.address_item {
  display: flex;
}

.address_item:not(:last-child) {
  margin-bottom: 20px;
}

.address_item_name {
  min-width: 158px;
  margin-right: 82px;
  color: rgba(255, 255, 255, .7);
}

.address_item_link {
  transition: opacity 0.3s;
}

.address_item_link:hover {
  opacity: 0.7;
}

.address_item_link:active {
  opacity: 1;
}

.logo,
.title,
.subtitle,
.footer_logo,
.address_item_name,
.m_cursor {
  cursor: default;
}


@media (max-width: 736px) {
  .header {
    margin: 40px 0 60px;
  }

  .title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 50px;
  }

  .main {
    margin-bottom: 50px;
  }

  .main_section {
    margin-bottom: 80px;
  }

  .address_item {
    flex-direction: column;
  }

  .footer_logo {
    margin-bottom: 30px;
  }

  .address_item:not(:last-child) {
    margin-bottom: 30px;
  }

  .address_item_name {
    margin-bottom: 10px;
  }
}
